google-api-python-client==1.6.3
google-cloud-storage==1.4.0
kubernetes==3.0.0

numpy==1.13.1
scipy==0.19.1
pyyaml==3.12
scikit-learn==0.19.0
scikit-optimize==0.4
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability